<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mj.infra.modules.codegroup.CodeGroupMapper">

    <resultMap id="resultMapObj" type="com.mj.infra.modules.codegroup.CodeGroup"></resultMap>
	
		<sql id ="selectCommon">
		FROM infrCodeGroup a
		WHERE 1=1
			<if test="shDelNy != null and !shDelNy.equals('')">AND cgDelNy = #{shDelNy}</if>
			<choose>
				<when test="shOption == 1">AND cgSeq = #{shValue}</when>
				<when test="shOption == 2">AND cgName LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 3">AND cgNameEng LIKE CONCAT('%',#{shValue},'%')</when>
			</choose>
		</sql>
	
	<select id="selectList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
			SELECT
				a.cgSeq
				, a.cgName
				, a.cgNameEng
				,(select count(aa.cdSeq) from infrCode aa where 1=1 and aa.cdDelNy = 0 and aa.cdSeq = a.cgSeq) as xcdSeqCount
				,a.cgUseNy
				,a.cgDelNy
				<!-- <include refid="Base.selectRegModWithAlies" /> -->
			<include refid="selectCommon" />
			ORDER BY a.cgSeq
			<include refid="Base.orderByLimitForMysql" />
		<include refid="Base.selectListLowerForMysql" />
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.*
		FROM infrCodeGroup a
		WHERE 1=1
			AND cgSeq = #{cgSeq}
	
	</select>
	

	<insert id="insert">
		INSERT INTO infrCodeGroup (
			cgName
		    ,cgNameEng
		    ,cgUseNy
		    ,cgDelNy
		)
		VALUES (
			#{cgName}
		    ,#{cgNameEng}
		    ,#{cgUseNy}
		    ,#{cgDelNy}
		)
		<selectKey resultType="String" keyProperty="cgSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	
	</insert>
	
	<update id="update">
		UPDATE infrCodeGroup 
		SET
			cgName = #{cgName}
			,cgNameEng = #{cgNameEng}
			,cgUseNy = #{cgUseNy}
			,cgDelNy = #{cgDelNy}
			<!-- <include refid="Base.updateModColumnValue"/> -->
		WHERE
			cgSeq = #{cgSeq}
	</update>
	
	<update id="uelete">
		UPDATE infrCodeGroup
		SET
			cgDelNy = 1
			<!-- <include refid="Base.updateModColumnValue"/> -->
		WHERE
			cgSeq = #{cgSeq}
	
	</update>
	
	<delete id="delete">
		DELETE FROM infrCodeGroup WHERE cgSeq = #{cgSeq}
	
	</delete>
	

	
	
	
	
</mapper>