<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mj.infra.modules.codegroup.CodeGroupMapper">

    <resultMap id="resultMapObj" type="com.mj.infra.modules.codegroup.CodeGroup"></resultMap>
	
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			a.*
			,(select count(cdName) from infrCode aa where aa.infrCodeGroup_cgSeq = a.cgSeq) as count
		FROM infrCodeGroup a
		WHERE 1=1
			AND cgDelNy = 0
		
			<if test="shValue != null"></if>
			<choose>
				<when test="shOption == 1">AND cgSeq = #{shValue}</when>
				<when test="shOption == 2">AND cgName LIKE CONCAT('%', #{shValue},'%')</when>
				<when test="shOption == 3">AND cgNameEng LIKE CONCAT('%', #{shValue},'%') </when>
			</choose>
	</select>

</mapper>