<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mj.infra.modules.codegroup.CodeGroupMapper">

    <resultMap id="resultMapObj" type="com.mj.infra.modules.codegroup.CodeGroup"></resultMap>
	
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			a.*
			,(select count(cdName) from infrCode aa where aa.infrCodeGroup_cgSeq = a.cgSeq) as count
		FROM infrCodeGroup a
		WHERE 1=1
			
			
			<if test="shDelNy != null and !shDelNy.equals('')">AND cgDelNy = #{shDelNy}</if>
			<if test="shValue != null"></if>
			<choose>
				<when test="shOption == 1">AND cgSeq = #{shValue}</when>
				<when test="shOption == 2">AND cgName LIKE CONCAT('%', #{shValue},'%')</when>
				<when test="shOption == 3">AND cgNameEng LIKE CONCAT('%', #{shValue},'%') </when>
			</choose>
		ORDER BY cgSeq
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.*
		FROM infrCodeGroup a
		WHERE 1=1
			AND cgSeq = #{cgSeq}
	
	</select>
	

	<insert id="insert">
		INSERT INTO infrCodeGroup (
			cgName
		    ,cgNameEng
		    ,cgUseNy
		    ,cgDelNy
		)
		VALUES (
			#{cgName}
		    ,#{cgNameEng}
		    ,1
		    ,0
		)
		<selectKey resultType="String" keyProperty="cgSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	
	</insert>
</mapper>