<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mj.infra.modules.mypage.MypageMapper">

    <resultMap id="resultMapObj" type="com.mj.infra.modules.mypage.Mypage"></resultMap>
    
    
   <select id="selectOneCountFavoriteTheater" resultType="Integer">
		SELECT count(tdftSeq)
		from tradFavoriteTheater
		where infrMember_ifmmSeq = #{ifmmSeq}
   </select>
    
    <select id="selectListFavoritTheater" resultMap="resultMapObj">
	    SELECT
	    	ft.tdftSort
	   		,th.tdthBranch
		FROM infrMember mm
		JOIN tradFavoriteTheater ft on ft.infrMember_ifmmSeq = mm.ifmmSeq
		JOIN tradTheater th on th.tdthSeq = ft.tradTheater_tdthSeq
		WHERE 1=1
		and mm.ifmmSeq = #{ifmmSeq}
    </select>
    
	<select id="selectListMypageHistory" resultMap="resultMapObj">
	SELECT 
		mv.tdmvSeq
	    ,mv.tdmvMovieTitle
	    ,(select tdthBranch from tradTheater th where th.tdthSeq = tt.tradTheater_tdthSeq) as tdthBranch
	    ,(select tdpxPlexName from tradTheaterPlex px where px.tdpxSeq = tt.tradTheaterPlex_tdpxSeq) as tdpxPlexName
	    ,tt.tdttShowTime
	    ,bk.tdbkBookingDate
	    ,up.upPath
	    ,up.uuIdName
	    ,up.defaultNy
	FROM infrMember mm
	JOIN tradBooking bk on mm.ifmmSeq = bk.infrMember_ifmmSeq
	JOIN tradBookingSeat bs on bs.tradBooking_tdbkSeq = bk.tdbkSeq
	JOIN tradTimeTable tt on tt.tdttSeq =  bk.tradTimeTable_tdttSeq
	JOIN tradMovie mv on mv.tdmvSeq = tt.tradMovie_tdmvSeq
	JOIN tradMovieUpload up on up.pseq = mv.tdmvSeq
	WHERE 1=1
	AND mm.ifmmSeq = #{ifmmSeq}
	AND up.defaultNy = 1
	</select>
	
	<update id="updateMypage">
	UPDATE infrMember 
	SET
		ifmmEmailAddress = CONCAT(#{ifmmEmailAddress},'@',(SELECT cc.cdName FROM infrCode cc where cc.cdSeq = #{ifmmEmailDomain}))
		,ifmmEmailDomain = #{ifmmEmailDomain}
		,ifmmPhone = #{ifmmPhone}
		,ifmmDob = #{ifmmDob}
		,ifmmDobLoginNy = #{ifmmDobLoginNy}
	WHERE 1=1
	AND ifmmSeq = #{ifmmSeq}
	</update>
	
	<update id="updateAddInfo">
	UPDATE infrMember
	SET 
		ifmmEmailNy = #{ifmmEmailNy}
		,ifmmSmsNy = #{ifmmSmsNy}
	WHERE
	AND ifmmSeq = #{ifmmSeq}
	</update>
	
	<delete id="deleteFavoriteTheater">
		DELETE FROM tradFavoriteTheater where infrMember_ifmmSeq = #{ifmmSeq}
	</delete>
	
	<insert id="insertFavoriteTheater">
	 INSERT INTO tradFavoriteTheater (
		infrMember_ifmmSeq
		,tradTheater_tdthSeq
		,tdftSort
	)
	VALUES(
		#{ifmmSeq}
		,#{tdthSeq}
		,#{tdftSort}
	)
	
	</insert>

    
    
    
    
    
    
</mapper>    