<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mj.infra.modules.timetable.TimetableMapper">

	<resultMap id="resultMapObj" type="com.mj.infra.modules.timetable.Timetable"></resultMap>
	
	<sql id ="selectCommon">
		FROM tradTimeTable a
		JOIN tradTheater b on b.tdthSeq = a.tradTheater_tdthSeq
		JOIN tradTheaterPlex c on c.tdpxSeq = a.tradTheaterPlex_tdpxSeq
		JOIN tradMovie d on d.tdmvSeq = a.tradMovie_tdmvSeq
		WHERE 1=1
			<if test="shDelNy != null and !shDelNy.equals('')">AND tdttDelNy = #{shDelNy}</if>
			<choose>
				<when test="shOption == 1">AND a.tdttShowTime LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 2">AND d.tdmvMovieTitle LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 3">AND b.tdthBranch LIKE CONCAT('%',#{shValue},'%')</when>
			</choose>
			ORDER BY a.tdttSeq
		</sql>
	
	<select id="selectList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql"/>
		SELECT
			a.tdttSeq
			,a.tdttShowTime
			,a.tdttEndTime
			,a.tdttMorningNy
			,b.tdthBranch
			,c.tdpxPlexName
			,c.tdpxTotalSeatNum
			,d.tdmvMovieTitle
			,d.tdmvAge
		<include refid="selectCommon"/>
		<include refid="Base.orderByLimitForMysql"/>
		<include refid="Base.selectListLowerForMysql"/>	
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.tdttSeq
			,a.tdttShowTime
			,a.tdttEndTime
			,a.tdttMorningNy
			,b.tdthBranch
			,c.tdpxPlexName
			,c.tdpxTotalSeatNum
			,d.tdmvMovieTitle
		FROM tradTimeTable a
		JOIN tradTheater b on b.tdthSeq = a.tradTheater_tdthSeq
		JOIN tradTheaterPlex c on c.tdpxSeq = a.tradTheaterPlex_tdpxSeq
		JOIN tradMovie d on d.tdmvSeq = a.tradMovie_tdmvSeq
		WHERE 
			a.tdttSeq = #{tdttSeq}
	</select>
	
	<select id="selectListTime" resultMap="resultMapObj">
	SELECT
		a.tdttSeq
		,b.tdthBranch
        ,c.tdpxPlexName
		,a.tdttShowTime
		,a.tdttEndTime
		,d.tdmvMovieTitle
		,c.tdpxTotalSeatNum
        ,a.tdttMorningNy
	FROM tradTimeTable a
	JOIN tradTheater b on b.tdthSeq = a.tradTheater_tdthSeq
	JOIN tradTheaterPlex c on c.tdpxSeq = a.tradTheaterPlex_tdpxSeq
	JOIN tradMovie d on d.tdmvSeq = a.tradMovie_tdmvSeq
	WHERE 1=1
	and a.tradMovie_tdmvSeq = #{tdmvSeq}
	and b.tdthSeq = #{tdthSeq}
	</select>
	
	<select id="selectListTimeFromMovie" resultMap="resultMapObj">
		select 
			b.tdthRegion
	    	,b.tdthBranch
	    	,b.tdthSeq
		from tradTimeTable a 
		join tradTheater b on b.tdthSeq = a.tradTheater_tdthSeq
		where 1=1
		and a.tradMovie_tdmvSeq = #{tdmvSeq}
		group by b.tdthBranch
	</select>
	
	<select id="selectOneChoiceSeat" resultMap="resultMapObj">
	SELECT
		tb.tdttSeq
		,tb.tdttShowTime
		,tb.tdttEndTime
		,tb.tdttMorningNy
		,tb.tradTheater_tdthSeq as tdthSeq
		,tb.tradTheaterPlex_tdpxSeq as tdpxSeq
		,tb.tradMovie_tdmvSeq as tdmvSeq
		,tb.tdttDelNy
	    ,th.tdthSeq
	    ,th.tdthRegion
	    ,th.tdthBranchEng
	    ,th.tdthBranch
	    ,th.tdthAddress
	    ,th.tdthZipCode
	    ,th.tdthDelNy
	    ,th.tdthUseNy
	    ,px.tdpxSeq
	    ,px.tradTheater_tdthSeq as tdthSeq
	    ,px.tdpxPlexName
	    ,px.tdpxTotalSeatNum
	    ,px.tdpxSittingColNum
	    ,px.tdpxSittingRowNum
	    ,px.tdpxDelNy
	    ,px.tdpxUseNy
	    ,mv.tdmvSeq
	    ,mv.tdmvMovieTitle
	    ,mv.tdmvAge
	    ,mv.tdmvTitleEng
	    ,mv.tdmvShowType
	FROM tradTimeTable tb
	JOIN tradTheater th on th.tdthSeq = tb.tradTheater_tdthSeq
	JOIN tradTheaterPlex px on px.tdpxSeq = tb.tradTheaterPlex_tdpxSeq
	JOIN tradMovie mv on mv.tdmvSeq = tb.tradMovie_tdmvSeq
	WHERE 1=1
	and tb.tdttSeq = #{tdttSeq}
	;
	
	</select>
	
	<select id="selectListPrice" resultMap="resultMapObj">
	SELECT
		pr.thprSeq
		,pr.tradTheater_tdthSeq as tdthSeq
		,pr.thprWeekendNy
		,pr.thprMorningNy
		,pr.thprTeenagerNy
		,pr.thprPrice
		,pr.thprDelNy
		,pr.thprUseNy
    	,tb.tdttSeq
		,tb.tdttShowTime
		,tb.tdttEndTime
		,tb.tdttMorningNy
		,tb.tradTheater_tdthSeq as tdthSeq
		,tb.tradTheaterPlex_tdpxSeq as tdpxSeq
		,tb.tradMovie_tdmvSeq as tdmvSeq
		,tb.tdttDelNy
	FROM tradTheaterPrice pr 
	join tradTimeTable tb on tb.tradTheater_tdthSeq = pr.tradTheater_tdthSeq
	WHERE 1=1
	and pr.thprMorningNy = tb.tdttMorningNy
	and pr.tradTheater_tdthSeq = #{tdthSeq}
	and tb.tdttSeq = #{tdttSeq}
	and pr.thprWeekendNy = 0
	and pr.thprTeenagerNy = 0
	</select>
	
	
	
	
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(a.tdttSeq)
		<include refid="selectCommon"/>
	</select>
	
	<insert id="insert">
	INSERT INTO tradTimeTable (
		tdttSeq
		,tdttShowTime
		,tdttMorningNy
		,tradTheater_tdthSeq
		,tradTheaterPlex_tdpxSeq
		,tradMovie_tdmvSeq
	)
	VALUES (
		#{tdttSeq}
		,#{tdttShowTime}
		,#{tdttMorningNy}
		,#{tradTheater_tdthSeq}
		,#{tradTheaterPlex_tdpxSeq}
		,#{tradMovie_tdmvSeq}
	)
	<selectKey resultType="String" keyProperty="thprSeq" order="AFTER">
		SELECT last_insert_id()
	</selectKey>
	</insert>
	
	<update id="update">
	UPDATE tradTimeTable
	SET
		tdttShowTime  = #{tdttShowTime}
		,tdttMorningNy  = #{tdttMorningNy}
		,tradTheater_tdthSeq  = #{tdthSeq}
		,tradTheaterPlex_tdpxSeq  = #{tdpxSeq}
		,tradMovie_tdmvSeq  = #{tdmvSeq}
	WHERE
		tdttSeq = #{tdttSeq}
	</update>
	
	<update id="uelete">
	UPDATE tradTimeTable
	SET
		tdttDelNy =#{tdttDelNy}
	WHERE
	tdttSeq = #{tdttSeq}
	</update>
	
	<delete id="delete"> 
		DELETE FROM tradTimeTable WHERE tdttSeq = #{tdttSeq}
	</delete>

</mapper>	