<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.mj.infra.modules.movie.MovieMapper">

	<resultMap id="resultMapObj" type="com.mj.infra.modules.movie.Movie"></resultMap>
	
	<sql id="selectCommon">
	FROM tradMovie a
	WHERE 1=1
	<if test="shDelNy != null and !shDelNy.equals('')">AND tdmvDelNy = #{shDelNy}</if>
	<choose>
		<when test="shOption == 1">AND a.tdmvSeq = #{shValue}</when>
		<when test="shOption == 2">AND a.tdmvMovieTitle LIKE CONCAT('%', #{shValue},'%')</when>
	</choose>
	</sql>
	
	<!-- xdmin -->
	<select id="selectList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql"/>
		SELECT
			a.tdmvSeq
			,a.tdmvMovieTitle
			,a.tdmvTitleEng
			,a.tdmvAudienceScore
			,a.tdmvRank
			,a.tdmvStory
			,a.tdmvShowType
			,a.tdmvDirector
			,a.tdmvCast
			,a.tdmvGenres
			,a.tdmvRunningTime
			,a.tdmvAge
			,a.tdmvReleaseDate
			,a.tdmvAudienceNumber
			,a.tdmvTrailer
			,a.tdmvLiked
			,a.tdmvRegDate
			,a.tdmvModDate
			,a.tdmvDelNy
			,a.tdmvUseNy
		<include refid="selectCommon"/>
		<include refid="Base.orderByLimitForMysql" />
		<include refid="Base.selectListLowerForMysql"/>	
	</select>
	
	<select id ="selectOne" resultMap="resultMapObj">
		SELECT
			a.tdmvSeq
			,a.tdmvMovieTitle
			,a.tdmvTitleEng
			,a.tdmvAudienceScore
			,a.tdmvRank
			,a.tdmvStory
			,a.tdmvShowType
			,a.tdmvDirector
			,a.tdmvCast
			,a.tdmvGenres
			,a.tdmvRunningTime
			,a.tdmvAge
			,a.tdmvReleaseDate
			,a.tdmvAudienceNumber
			,a.tdmvTrailer
			,a.tdmvLiked
			,a.tdmvRegDate
			,a.tdmvModDate
			,a.tdmvDelNy
			,a.tdmvUseNy
		FROM tradMovie a
		WHERE
		 tdmvSeq = #{tdmvSeq}
	</select>
	
	<select id="selectListAll" resultMap="resultMapObj">
	SELECT
	 *
	FROM tradMovie
	WHERE 1=1
	
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon"/>
	</select>

	<insert id="insert">
	INSERT INTO tradMovie(
		tdmvMovieTitle
		,tdmvTitleEng
		,tdmvStory
		,tdmvShowType
		,tdmvDirector
		,tdmvCast
		,tdmvGenres
		,tdmvRunningTime
		,tdmvAge
		,tdmvReleaseDate
		,tdmvTrailer
		,tdmvRegDate
	)
	VALUES(
		#{tdmvMovieTitle}
		,#{tdmvTitleEng}
		,#{tdmvStory}
		,#{tdmvShowType}
		,#{tdmvDirector}
		,#{tdmvCast}
		,#{tdmvGenres}
		,#{tdmvRunningTime}
		,#{tdmvAge}
		,#{tdmvReleaseDate}
		,#{tdmvTrailer}
		,now()
	)
		<selectKey resultType="String" keyProperty="tdmvSeq" order="AFTER">
		SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<update id="update">
	UPDATE tradMovie
	SET
		tdmvMovieTitle = #{tdmvMovieTitle}
		,tdmvTitleEng = #{tdmvTitleEng}
		,tdmvStory = #{tdmvStory}
		,tdmvDirector = #{tdmvDirector}
		,tdmvCast = #{tdmvCast}
		,tdmvGenres = #{tdmvGenres}
		,tdmvRunningTime = #{tdmvRunningTime}
		,tdmvAge = #{tdmvAge}
		,tdmvReleaseDate = #{tdmvReleaseDate}
		,tdmvTrailer = #{tdmvTrailer}
		,tdmvModDate = now() 
	WHERE
		tdmvSeq = #{tdmvSeq}
	</update>
	
	<update id="uelete">
		UPDATE tradMovie
		SET
			tdmvDelNy = 1
		WHERE
			tdmvSeq = #{tdmvSeq}
	</update>
	
	<delete id="delete">
		DELETE FROM tradMovie WHERE tdmvSeq = #{tdmvSeq}
	</delete>
	
	
	<!-- user -->
	<select id="homeselectList" resultMap="resultMapObj">
		SELECT
			a.tdmvRank
			,a.tdmvMovieTitle
			,a.tdmvLiked
			,a.tdmvReleaseDate
			
		FROM tradMovie a
		ORDER BY
			a.tdmvRank
			,a.tdmvReleaseDate
	</select>
	
	

</mapper>	