<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mj.infra.modules.booking.BookingMapper">

    <resultMap id="resultMapObj" type="com.mj.infra.modules.booking.Booking"></resultMap>
    
    <sql id="selectCommon">
	FROM tradBooking a
	WHERE 1=1
		<if test="shDelNy != null and !shDelNy.equals('')">AND tdbkDelNy = #{shDelNy}</if>
		<choose>
			<when test="shOption == 1">AND tdbkSeq = #{shValue}</when>
			<when test="shOption == 2">AND tdbkPayment LIKE CONCAT('%', #{shValue},'%')</when>
		</choose>
		
		<choose>
			<when test="shOptionDate == 1">AND a.tdbkBookingDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
		</choose>
		ORDER BY a.tdbkSeq desc
	</sql>
	
    <select id="selectList" resultMap="resultMapObj">
    	SELECT 
    		a.tdbkSeq
    		,a.tdbkPayment
    		,a.tdbkBookingDate
    		,a.infrMember_ifmmSeq as ifmmSeq
    		,a.tradTimeTable_tdttSeq as tdttSeq
    		,a.tdbkTotalCost
    		,a.tdbkDelNy
    	<include refid="selectCommon"/>
    </select>
    
    <select id="selectOne" resultMap="resultMapObj">
    	SELECT
    		a.tdbkSeq
    		,a.tdbkPayment
    		,a.tdbkBookingDate
    		,a.infrMember_ifmmSeq as ifmmSeq
    		,a.tradTimeTable_tdttSeq as tdttSeq
    		,a.tdbkTotalCost
    		,a.tdbkDelNy
    	FROM tradBooking
    	WHERE 1=1
    		AND a.tdbkSeq = #{tdbkSeq}
    </select>
    
    <select id="selectOneCount" resultType="Integer">
   		SELECT COUNT(*)
    	<include refid="selectCommon"/>
    
    </select>
    
    <insert id="insertBooking">
	    insert INTO tradBooking (
			tdbkBookingDate
			,tdbkPayment
			,infrMember_ifmmSeq
			,tradTimeTable_tdttSeq
			,tdbkTotalCost
		)
		VALUES (
			now()
		    ,"kakaoPay"
		    ,#{ifmmSeq}
		    ,#{tdttSeq}
		    ,#{tdbkTotalCost}
		)
		<selectKey resultType="String" keyProperty="tdbkSeq" order="AFTER">
				SELECT last_insert_id()
		</selectKey>
    </insert>
    
    <insert id="insertBookingSeat">
	    INSERT INTO tradBookingSeat (
			tradBooking_tdbkSeq
			,tdbsSeatNum
			,tdbsTeenagerNy
		    ,tradTheaterPrice_thprSeq
		)
		VALUES (
			#{tdbkSeq}
			,#{tdbsSeatNum}
			,0
			,#{thprSeq} 
		)
    
    </insert>
    
    <select id="selectListAfterPay" resultMap="resultMapObj">
		select
			image.seq
			,image.defaultNy
			,image.originalName
			,image.uuIdName
			,image.pseq
			,image.upPath
			,movie.tdmvSeq
			,movie.tdmvMovieTitle
			,movie.tdmvTitleEng
			,movie.tdmvStory
			,movie.tdmvRunningTime
			,movie.tdmvDelNy
			,time.tdttSeq
			,time.tdttShowTime
			,time.tdttSeq
			,time.tdttEndTime
			,time.tradTheater_tdthSeq as tdthSeq
			,time.tradTheaterPlex_tdpxSeq as tdpxSeq
			,theater.tdthSeq
			,theater.tdthRegion
			,theater.tdthBranch
			,theater.tdthBranchEng
			,plex.tdpxSeq
			,plex.tdpxPlexName
			,plex.tdpxSeq
			,booking.tdbkSeq
			,booking.tdbkPayment
			,booking.tdbkBookingDate
			,booking.tdbkTotalCost
		FROM tradBooking booking 
		JOIN tradTimeTable time on time.tdttSeq = booking.tradTimeTable_tdttSeq
		JOIN tradTheater theater on theater.tdthSeq = time.tradTheater_tdthSeq
		JOIN tradTheaterPlex plex on plex.tdpxSeq = time.tradTheaterPlex_tdpxSeq
		JOIN tradMovie movie on movie.tdmvSeq = time.tradMovie_tdmvSeq
		JOIN tradMovieUpload image on image.pseq = movie.tdmvSeq
		where 1=1
		and booking.tdbkSeq = #{tdbkSeq}
		and time.tdttSeq = #{tdttSeq}
		and image.defaultNy = 1
	</select>
    
    
    <select id="monthListBooking" resultMap="resultMapObj">
    	SELECT month(`tdbkBookingDate`) as `bkDate`, 
		       sum(`tdbkTotalCost`) as `bkSum`
		FROM tradBooking
		GROUP BY `bkDate`;
    </select>
    
    
    
    
    
    
    
    
    
    
    
    
</mapper>    